.ng-invalid.ng-dirty{
    border-color: #FA787E   
}

.ng-valid.ng-dirty{
    border-color: #78FA89   
}

.card {
	border-radius: 2px;
	margin: .5rem 0 0 0;
}

/* GALLERY */

.gallery {
	background: #F9F9F9;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin: 1rem -15px;
}

.thumbails-wr {
	border-top: 1px solid #DDD;
	text-align: center;
	font-size: 0;
}
.thumbails {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.block-link {
	display: block;
	padding: .5rem;
}

.small-image {
	width: 6rem;
}

.thumbails > li {
	position: relative;
}

.thumbails > li > a > img {
	opacity: .5;
}

.thumbails > li:hover > a > img {
	opacity: 1;
}

.thumbails > li.active::before,
.thumbails > li.active::after {
	content:"";
	position: absolute;
	top: 0;
	left: 50%;
	border: .5rem solid transparent;
	margin: -1px 0 0 -.5rem;
	border-top-color: #F9F9F9;
}

.thumbails > li.active::before {
	margin: 0 0 0 -.5rem;
	border-top-color: #CCC;	
}