<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active: panels.isSelected(1)}"><a ng-click="panels.selectTab(1)">Description</a></li>
        <li ng-class="{ active: panels.isSelected(2)}"><a ng-click="panels.selectTab(2)">Specifications</a></li>
        <li ng-class="{ active: panels.isSelected(3)}"><a ng-click="panels.selectTab(3)">Reviews</a></li>
    </ul>
   <div class="panel" ng-show="panels.isSelected(1)">
       <h4>Description</h4>
       <blockquote>{{product.description}}</blockquote>
   </div>
   <div class="panel" ng-show="panels.isSelected(2)">
       <h4>Specifications</h4>
       <blockquote>
           Faces: {{product.specs.faces}}
           Color: {{product.specs.color}}
           Rarity: {{product.specs.rarity}}
           Shine: {{product.specs.shine}}
       </blockquote>
   </div>
   <div class="panel" ng-show="panels.isSelected(3)">
       <review-panels ></review-panels>
   </div>
</section>