<section class="gallery" ng-show="product.images && product.images.length">
    <img class="img center-block" ng-src="{{product.images[gallery.current]}}" alt="">

    <div class="thumbails-wr">
        <ul class="clearfix thumbails">
            <li ng-class="{active: gallery.isSet($index)}" 
            class="pull-left" 
            ng-repeat="image in product.images">
                <a ng-click="gallery.setCurrent($index)" class="block-link">
                    <img class="small-image" ng-src="{{image}}" alt="">
                </a>
            </li>
        </ul>
    </div>

</section>